
/* Body */

body {
  background-color: #ffffff;
}

/* Container */

.container {
  background-color: #dce9d2;
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  border: 1px solid rgb(117, 117, 117);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

/* Header */

.header {
  /* background-color: lightcoral; */
  display: flex;
  /* change when have darkmode toggle button*/
  /* justify-content: space-between; */
  justify-content: center;

}

/* Information */

.instructions {
  background-color: #ffffff;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
  /* border: 1px solid black; */
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

/* Image Container */

.image-container {
  /* background-color: lightcyan; */
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.image-container img {
  max-height: 500px;
  max-width: 500px;
  width: 100%;
  height: auto;

  /* border: 1px solid black; */
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

/* Quests */

/* .quest-list-container {
  background-color: lightgray;
} */

.quest-list {
  list-style: none;
  padding: 0;
}

.quest-block {
  display: flex;
  padding: 0;
  margin: 0;
}

.quest-item {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0rem;
  margin-left: 1rem;
  padding: 1rem;

  /* border: 1px solid black; */
  border-radius: 12px 0px 0px 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  flex: 4; 
}

.quest-reroll {
  background-color: rgb(206, 235, 228);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;

  font-weight: bold;

  border-radius: 0px 12px 12px 0px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.quest-name {
  flex: 2;
  text-align: left;
  font-weight: bold;
}

.quest-mob {
  flex: 1;
  text-align: center;
}

.quest-time {
  flex: 1;
  text-align: right;
}



.category-block {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-right: 1rem;
  margin-left: 1rem;

  font-weight: bold;
}

.categories {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.category-name {

  flex: 2;
}

.category-mob {
  flex: 1;
}

.category-time {
  flex: 1;
}

.category-reroll {
  flex: 1;
  text-align: center;
}

/* Side */

hr {
  border: none;
  border-top: 2px solid #ccc;
  margin: 20px 0;
}
